* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.logo-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.logo {
  height: 100%;
  width: 100%;
}

.bg-myColor { 
  background: linear-gradient(90deg, rgba(18, 36, 65, 1) 0%, rgba(253,45,1,1) 35%, rgba(255,208,206,1) 100%);
}


